<div class="login-box">

  <div class="login-logo">
    <a href="/"><b>Admin</b>LTE</a>
  </div>

  <div class="login-box-body">

    <h2 class="login-box-msg">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group has-feedback">
        <%= f.email_field :email, class: 'form-control', autofocus: true, placeholder: 'Email' %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        <%= f.password_field :password, class: 'form-control', autocomplete: "off", placeholder: 'Password' %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>

      <div class="row">
        <div class="col-xs-8">
          <% if devise_mapping.rememberable? -%>
            <div class="checkbox icheckbox">
              <label>
                <%= f.check_box :remember_me %> Remember Me
              </label>
            </div>
          <% end -%>
        </div>
        <div class="col-xs-4">
          <%= f.submit "Log in", class: 'btn btn-primary btn-block btn-flat' %>
        </div>
      </div>

    <% end %>

    <div class="login-box-msg">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>
